/**Button style**/
.btn-link-border {
  background: transparent !important;
  border: none !important;
  color: $black-primary !important;
  padding: 0 !important;
  width: auto;
  min-width: auto;
  max-width: 100%;
  position: relative;
  font-size: 14px;
  display: inline-block !important;
  margin: 0 auto;
  &:after {
    position: absolute;
    content: "";
    left: 0;
    width: 0;
    bottom: -2px;
    height: 1px;
    background: $black-primary;
    @include transition(all 0.3s);
  }

  &:hover {
    &:after {
      width: 100%;
    }
  }
}
a {
  &.btn-borderwhite {
    &:hover,
    &:focus,
    &:active {
      color: $white;
    }
  }
  &.btn {
    display: inline-block !important;
  }
}
.btn {
  text-align: center;
  display: block !important;
  padding: 6px 22px;
  &:focus {
    box-shadow: none !important;
  }

  &:disabled,
  &.disabled {
    pointer-events: none;
  }
}

.btn-fillsecondary {
  min-width: 200px;
  min-height: 46px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  background: $primary;
  border-color: $primary;
  border-width: 2px;
  border-radius: 25px;
  transition: all 0.3s;

  &:active,
  &:hover,
  &:focus {
    color: $primary !important;
    background: none !important;
    border-color: $primary !important;
  }
}

.btn-bordersecondary {
  min-width: 132px;
  min-height: 48px;
  font-size: 17px;
  color: $primary;
  background-color: $white;
  border: 2px solid $primary;
  border-radius: 25px;

  &:active,
  &:hover {
    color: $white !important;
    background: $primary !important;
    border-color: $primary !important;
  }

  &:focus,
  &:disabled,
  &.disabled {
    color: $primary !important;
    background-color: $white !important;
    border: 2px solid $primary !important;

    &:hover {
      color: $white !important;
      background: $primary !important;
      border-color: $primary !important;
    }
  }

  &.icon-btn {
    i {
      svg {
        fill: $primary;
      }
    }

    &:focus {
      i {
        svg {
          fill: $primary;
        }
      }

      &:hover {
        i {
          svg {
            fill: $white;
          }
        }
      }
    }

    &:active,
    &:hover {
      i {
        svg {
          fill: $white;
        }
      }
    }
  }
}

.btn-borderprimary {
  min-width: 132px;
  min-height: 48px;
  font-size: 17px;
  color: $gray-primary;
  border: 2px solid $gray-primary;
  background: transparent;
  border-radius: 25px;

  &:active,
  &:hover {
    color: $white !important;
    background: $gray-primary !important;
    border-color: $gray-primary !important;
  }

  &:focus,
  &:disabled,
  &.disabled {
    color: $gray-primary !important;
    border: 2px solid $gray-primary !important;
    background: transparent !important;

    &:hover {
      color: $white !important;
      background: $gray-primary !important;
      border-color: $gray-primary !important;
    }
  }

  &.icon-btn {
    i {
      svg {
        fill: $gray-primary;
      }
    }

    &:hover {
      i {
        svg {
          fill: $white;
        }
      }
    }

    &:focus {
      i {
        svg {
          fill: $gray-primary;
        }
      }

      &:hover {
        i {
          svg {
            fill: $white;
          }
        }
      }
    }
  }
}

.btn-borderwhite {
  min-width: 132px;
  min-height: 48px;
  color: $white;
  font-size: 17px;
  background-color: transparent;
  border: 2px solid $white;
  border-radius: 25px;

  &:active,
  &:hover,
  &:disabled,
  &.disabled {
    color: $white !important;
    background: transparent !important;
    border-color: $white !important;
  }

  &.icon-btn {
    i {
      svg {
        fill: $white;
      }
    }

    &:active,
    &:hover,
    &:focus {
      i {
        svg {
          fill: $white;
        }
      }
    }
  }
}

.icon-btn {
  span {
    position: relative;
    vertical-align: middle;
    display: inline-block;
    top: -1px;
  }

  i {
    display: inline-block;
    width: 20px;
    margin-left: 10px;
    margin-left: 20px;
    line-height: 0;
    @include transition(transform 0.2s ease-out);

    @include sm-max {
      margin-left: 12px;
    }

    svg {
      @include transition(all 0.3s);
    }
  }

  //   &:hover,
  //   &:focus,
  //   &:active {
  //     i {
  //       @include transformX(4px);
  //     }
  //   }
}

/**Form-element**/

.icon-input {
  i {
    @include transformY(-50%);
    position: absolute;
    top: 50%;
  }
}

.form-group {
  width: 100%;
}
input,
textarea {
  appearance: none;
  -webkit-appearance: none;
}
.form-control {
  width: 100%;
  max-width: 100%;
  height: 38px;
  color: $black-primary;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
  @extend .control_shadow;
  border: 1px solid $control-border;
  appearance: none;
  -webkit-appearance: none;
  outline: none;

  @include placeholder {
    color: $black-primary;
    font-family: $general-font;
    font-size: 14px;
    font-weight: 400;
  }

  &:focus {
    box-shadow: none;
    border-color: $gray-primary;
    color: $black-primary;
    outline: none;
  }

  &.is-invalid,
  &.is-valid {
    box-shadow: none !important;
  }
}

label {
  font-size: 15px;
  line-height: 23px;

  .required {
    margin-left: 4px;
    color: $error;
  }
}
.custom-dropdown{
  &.is-invalid{
  span{
      border-color:$error;
    }
    ~ .invalid-feedback{
      display: block;
    }
  }
}

.custom-file-input {
  &:focus {
    ~ .custom-file-label {
      box-shadow: none;
      border-color: $control-border;
    }
  }
}

.custom-checkbox {
  .custom-control-label {
    font-size: 14px;
    width: 100%;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include md-max {
      word-break: break-word;
      white-space: inherit;
    }

    &:before {
      box-shadow: none !important;
      border-color: $control-border !important;
      border-radius: 2px;
    }

    &:after {
      background: no-repeat 60% / 60% 60%;
    }
  }

  .custom-control-input {
    &:not(:disabled):active {
      ~ {
        .custom-control-label {
          &::before {
            background: $primary;
            border-color: $primary;
            box-shadow: none;
          }
        }
      }
    }

    &:checked {
      ~ .custom-control-label {
        &:before {
          background: $primary;
          border-color: $primary !important;
          box-shadow: none;
        }
      }
    }
  }
}

.checkbox-select {
  display: inline-flex;
  align-items: center;
  width: 100%;
  height: 100%;

  & > span {
    display: block;
    padding: 6px 35px 6px 15px;
    border: 1px solid $control-border;
    border-radius: 3px;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    @extend .control_shadow;
    cursor: pointer;
    font-size: 16px;
    line-height: normal;

    &:after {
      position: absolute;
      content: "";
      background: url($assetUrl+"/down-arrow.svg") no-repeat;
      background-size: 11px;
      width: 11px;
      height: 11px;
      right: 13px;
      top: 50%;
      @include transformY(-50%);
      @include transition(all 0.3s);
    }
  }

  &.dropdown-open {
    span {
      border-radius: 3px 3px 0 0;

      &:after {
        transform: translateY(-50%) rotate(180deg);
        -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        -moz-transform: translateY(-50%) rotate(180deg);
        -o-transform: translateY(-50%) rotate(180deg);
      }
    }

    .option-list-wrap {
      border-radius: 0 0 3px 3px;
    }

    .chk-select-wrap {
      border-radius: 0 0 3px 3px;
      display: block;
    }
  }

  .custom-checkbox {
    padding: 0;
  }

  .custom-control-label {
    padding: 6px 15px 6px 38px;

    @include xl-max {
      padding: 6px 15px 6px 33px;
    }

    &::before {
      top: 10px;
      left: 15px;

      @include xl-max {
        left: 10px;
      }
    }

    &:after {
      left: 14px;
      top: 10px;

      @include xl-max {
        left: 10px;
        top: 11px;
      }
    }
  }
}

.chk-select-wrap {
  display: none;
  @extend .navdropdown_shadow;
  position: absolute !important;
  top: 100%;
  z-index: 99;
  width: auto;
  max-height: 226px;
  background: #fff;
  border: 1px solid $border-color;
  border-radius: 3px;
  min-width: 100%;
  right: 0;

  .chk-select-options {
    padding: 0;
    padding: 4px 0;
    margin: 0;
    list-style: none;

    li {
      padding: 0;

      &:hover {
        background: $border-color;
      }

      label {
        &.no-checkbox {
          padding: 8px 15px;
          line-height: 20px;
          display: flex;
          margin-bottom: 0;
        }
      }
    }
  }
}

.custom-dropdown {
  position: relative;
  width: 100%;
  font-size: 14px;
  line-height: 18px;

  & > span {
    display: block;
    padding: 6px 35px 6px 15px;
    border: 1px solid $control-border;
    border-radius: 3px;
    text-overflow: ellipsis;
    overflow: hidden;
    @extend .control_shadow;
    max-width: 100%;
    white-space: nowrap;
    cursor: pointer;

    &:after {
      position: absolute;
      content: "";
      background: url($assetUrl+"/down-arrow.svg") no-repeat;
      background-size: 11px;
      width: 11px;
      height: 11px;
      right: 13px;
      top: 50%;
      @include transformY(-50%);
      @include transition(all 0.3s);
    }
  }

  &.dropdown-open {
    span {
      border-radius: 3px 3px 0 0;

      &:after {
        transform: translateY(-50%) rotate(180deg);
        -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        -moz-transform: translateY(-50%) rotate(180deg);
        -o-transform: translateY(-50%) rotate(180deg);
      }
    }

    .option-list-wrap {
      border-radius: 0 0 3px 3px;
      display: block;
    }
  }

  .option-list-wrap {
    @extend .control_shadow;
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 99;
    width: 100%;
    width: auto;
    // max-width: 100%;
    max-height: 226px;
    margin-top: -1px;
    background: #fff;
    border: 1px solid $control-border;
    border-radius: 3px;
    display: none;
    min-width: 100%;

    .option-list {
      padding: 4px 0;
      margin: 0;
      list-style-type: none;

      li {
        @include transition(all 0.3s);
        padding: 6px 15px;
        text-align: left;
        background: $white;
        cursor: pointer;
        white-space: nowrap;

        &:hover {
          background: $border-color;
        }
      }
    }
  }
}

.simplebar-track {
  width: 7px !important;

  .simplebar-scrollbar {
    width: 4px;

    &:before {
      background: $border-color !important;
      opacity: 1 !important;
    }
  }
}

.select-dropdown {
  .simplebar-offset {
    @include md-min {
      left: auto !important;
      min-width: 100%;
    }
  }
}

.notification-popover {
  .simplebar-offset {
    .browser-safari & {
      right: -17px !important;
    }
  }

  .simplebar-content-wrapper {
    .browser-safari & {
      padding-right: 17px !important;
    }
  }
}

.multiselect-options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  ul {
    padding: 10px 0;
    height: 100%;

    li {
      padding: 6px 42px 6px 21px;
      font-size: 14px;
      line-height: 18px;
      cursor: pointer;
      position: relative;

      &.selected {
        background: $border-color;
      }

      .btn {
        position: absolute;
        right: 21px;
        top: 11px;
        line-height: 0;
        background: transparent !important;
        border: none;
        height: 10px;
        width: 10px;
        padding: 0;
        min-height: 1px !important;
        min-width: 1px !important;
      }
    }
  }

  .options-col {
    max-width: 48%;
    flex: 0 0 48%;
    border: 1px solid $border-color;
    max-height: 40vh;
    margin: 0;
    @include sm-max {
      max-width: 100%;
      flex: 0 0 100%;
      min-height: 30vh;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.autocomplete-control {
  position: relative;

  input {
    width: 100%;
    max-width: 100%;
    height: 38px;
    color: $black-primary;
    font-size: 14px;
    font-weight: 400;
    line-height: normal;
    @extend .control_shadow;
    border: 1px solid $control-border;
    padding: 5px 12px;
    border-radius: 3px;

    &.autosuggest__input--open {
      border-radius: 3px 3px 0 0;
    }

    @include placeholder {
      color: $black-primary;
      font-family: $general-font;
      font-size: 14px;
      font-weight: 400;
    }

    &:focus {
      box-shadow: none;
      border-color: $gray-primary;
      color: $black-primary;
      outline: none;
    }
  }

  .autosuggest__results-container {
    .autosuggest__results {
      position: absolute;
      background: $white;
      z-index: 2;
      border: 1px solid $border-color;
      width: 100%;
      padding: 4px 0;
      border-radius: 0 0 3px 3px;
      max-height: 150px;

      ul {
        li {
          padding: 8px 15px;
          @include transition(all 0.3s);
          cursor: pointer;
          white-space: nowrap;
          font-size: 14px;
          line-height: 18px;

          > div {
            display: flex;
            align-items: center;

            img {
              display: inline-flex;
              width: 25px;
              height: 25px;
              margin-right: 15px;
              border-radius: 100%;
            }
          }

          &:hover {
            background: $border-color;
          }
        }
      }
    }
  }
}

/** breadcrumb dropdown style **/

.breadcrumb-current {
  display: none;
  padding: 6px 35px 6px 15px;
  border: 1px solid $control-border;
  border-radius: 3px;
  text-overflow: ellipsis;
  overflow: hidden;
  @extend .control_shadow;
  max-width: 100%;
  white-space: nowrap;
  cursor: pointer;
  position: relative;

  &:after {
    position: absolute;
    content: "";
    background: url($assetUrl+"/down-arrow.svg") no-repeat;
    background-size: 11px;
    width: 11px;
    height: 11px;
    right: 13px;
    top: 50%;
    @include transformY(-50%);
    @include transition(all 0.3s);
  }

  @include sm-max {
    display: block;
  }
}

.breadcrumb-dropdown-wrap {
  position: relative;

  @include sm-max {
    margin-top: 30px;
    max-width: 100%;
  }

  &.open {
    .breadcrumb-dropdown {
      display: block;
      border-radius: 0 0 3px 3px;
    }

    .breadcrumb-current {
      border-radius: 3px 3px 0 0;

      &:after {
        transform: translateY(-50%) rotate(180deg);
        -webkit-transform: translateY(-50%) rotate(180deg);
        -ms-transform: translateY(-50%) rotate(180deg);
        -moz-transform: translateY(-50%) rotate(180deg);
        -o-transform: translateY(-50%) rotate(180deg);
      }
    }
  }
}

.breadcrumb-dropdown {
  @include sm-max {
    position: absolute !important;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    width: auto;
    max-height: 226px;
    margin-top: -1px;
    background: $white;
    border: 1px solid $control-border;
    border-radius: 3px;
    display: none;
    min-width: 100%;
    box-shadow: 0.966px 0.259px 3px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 0.966px 0.259px 3px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0.966px 0.259px 3px rgba(0, 0, 0, 0.05);
    -ms-box-shadow: 0.966px 0.259px 3px rgba(0, 0, 0, 0.05);
    -o-zbox-shadow: 0.966px 0.259px 3px rgba(0, 0, 0, 0.05);
  }
}

.profile-block {
  min-height:160px;
  position: relative;
  background:$border-color;
  border-radius:100%;
  overflow:hidden;
  width:160px;
  margin:0 auto;
  .content-loader-wrap{
    .content-loader{
      font-size: 5px;
      margin: 0 auto;
      width: 7px;
      height: 7px;
    }
  }
  .picture-input {
    height: 160px !important;
    width: 160px !important;
    border-radius: 100%;
    overflow: hidden;
    position: relative;
    @include transition(all 0.3s);
    >div{
      border-radius: 100%;
      overflow: hidden;
    }
    &:hover {
      .btn {
        opacity: 1;
        visibility: visible;
        transform: scale(1);
        background-color: $rgb-black-dark;
        &:before {
          opacity: 1;
          visibility: visible;
          transform: scale(1);
        }
      }
    }
    .preview-container {
      height: 160px !important;
      width: 160px !important;
      position: relative;
      border-radius: 100% !important;
    }
    .picture-preview {
      background: $border-color;
      height: 160px !important;
      width: 160px;
      overflow: hidden;
      border-radius: 100%!important;
    }
    .picture-inner {
      border: none;
      .picture-inner-text {
        display: none;
      }
    }
    .btn {
      margin: 0;
      padding: 0;
      font-size: 0;
      position: absolute;
      top: 0;
      left: 0;
      width: 160px;
      height: 160px;
      color: transparent;
      border-radius: 100%;
      overflow: hidden;
      transition: all 0.3s linear;
      opacity: 0;
      visibility: hidden;
      transform: scale(0);
      z-index:99999;
      &:before {
        content: "";
        position: absolute;
        background: url("../images/edit-ic-white.svg") no-repeat center;
        width: 24px;
        height: 24px;
        display: flex;
        right: 0;
        bottom: 0;
        top: 0;
        left: 0;
        display: -ms-flexbox;
        margin: auto;
        opacity: 0;
        transition: all 0.3s linear;
        transform: scale(0);
        visibility: hidden;
        z-index: 1;
      }
    }
  }
}

.custom-field{
  .checkbox-select{
    position: relative;
  }
  .form-group{
    .is-invalid{
      .custom-control{
        .custom-control-label{
            color:$error;
            &:before, &:after{
              border-color:$error!important;
            }
        }
      }
    }
  }
}