/**general style**/

html {
  height: 100%;
}

body {
  height: 100%;
  color: $gray1;
  font-family: $noto-sans;
  font-size: 15px;
  font-weight: 400;
  line-height: 24px;
  overflow-x: hidden;
}

a,
button {
  text-decoration: none;
  transition: all 0.3s;

  &:focus,
  &:hover {
    text-decoration: none;
    box-shadow: none !important;
    outline: none !important;
  }
}
a{
  color: $black-primary;
  &:hover, &:focus{
    color: $black-primary;
  }
}

em,
i {
  font-style: normal;
}

i {
  display: inline-block;
  line-height: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

img {
  width: 100%;
}

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  max-width: 1470px;
}

.list-group {
  flex-direction: row;

  .list-group-item {
    padding: 0;
    margin: 0;
    border: none;
  }
}

/**button style**/

.custom-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  &:focus {
    box-shadow: none !important;
  }
}

.btn-fillsecondary {
  min-width: 200px;
  min-height: 46px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 30px;
  background: $secondary;
  border-color: $secondary;
  border-width: 2px;
  border-radius: 25px;
  transition: all 0.3s;

  &:active,
  &:hover,
  &:focus {
    color: $secondary !important;
    background: none !important;
    border-color: $secondary !important;
  }
}

.btn-bordersecondary {
  min-width: 132px;
  min-height: 48px;
  color: $secondary;
  font-size: 17px;
  background-color: $white;
  border: 2px solid $secondary;
  border-radius: 25px;

  &:active,
  &:hover,
  &:focus {
    color: $white !important;
    background: $secondary !important;
    border-color: $secondary !important;
  }

  &.icon-btn {
    &:active,
    &:hover,
    &:focus {
      color: $secondary !important;
      background: $white !important;
      border-color: $secondary !important;

      .normal-img {
        display: block;
      }

      .hover-img {
        display: none;
      }
    }
  }
}

.icon-btn {
  i {
    display: inline-block;
    width: 20px;
    margin-left: 10px;
    margin-left: 20px;
    line-height: 0;

    img {
      max-width: 100%;
      height: 100%;
    }
  }

  .normal-img {
    display: inline-block;
  }

  .hover-img {
    display: none;
  }

  &:hover,
  &:focus,
  &:active {
    i {
      animation: wobble_horizontal 1s ease-in-out;
    }

    .normal-img {
      display: none;
    }

    .hover-img {
      display: inline-block;
    }
  }
}

@keyframes wobble_horizontal {
  16.65% {
    transform: translateX(6px);

    webkit-transform: translateX(6px);
  }

  33.3% {
    transform: translateX(-5px);

    -webkit-transform: translateX(-5px);
  }

  49.95% {
    transform: translateX(4px);

    -webkit-transform: translateX(4px);
  }

  66.6% {
    transform: translateX(-2px);

    -webkit-transform: translateX(-2px);
  }

  83.25% {
    transform: translateX(1px);

    -webkit-transform: translateX(1px);
  }

  100% {
    transform: translateX(0);

    -webkit-transform: translateX(0);
  }
}

/**Form-element**/

.icon-input {
  i {
    @include transformY(-50%);
    position: absolute;
    top: 50%;
  }
}

.form-control {
  @include placeholder {
    color: $gray1;
    font-family: $noto-sans;
    font-size: 16px;
    font-weight: 400;
  }

  width: 401px;
  max-width: 100%;
  height: 56px;
  color: $black-primary;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;

  &:focus {
    box-shadow: none;
    border-color: $black-primary;
    outline: none;
  }

  &.is-invalid,
  &.is-valid {
    box-shadow: none !important;
  }
}

label {
  color: $black-primary;
  font-size: 16px;
  line-height: 23px;

  .required {
    margin-left: 4px;
    color: $error;
  }
}

.simplebar-track {
  .simplebar-vertical {
    .simplebar-scrollbar {
      &.simplebr-visible {
        &:before {
          opacity: 1;
        }
      }
    }
  }
}

//sign pages css
.signin-page-wrapper {
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;

  @include md-max {
    overflow-y: auto;
  }

  .signin-slider {
    @include lg-max {
      width: calc(100% - 350px);
    }

    @include md-max {
      display: none;
    }

    width: calc(100% - 480px);

    .carousel-item {
      height: 100vh;
    }
  }

  .signin-form-wrapper {
    position: relative;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    width: 480px;
    max-width: 100%;
    max-height: 100vh;
    padding: 20px 40px 37px;

    @include lg-max {
      width: 350px;
    }

    @include md-max {
      max-height: auto !important;
      overflow: initial;
      width: 480px;
    }

    .signin-form-block {
      width: 100%;
      margin: 40px 0;
    }

    .lang-drodown-wrap {
      display: inline-flex;
      width: 100%;
      justify-content: flex-end;

      .custom-dropdown {
        width: 69px !important;
        left: 17px;

        @include xlg-max {
          left: 0;
        }

        > span {
          padding: 9px 35px 9px 15px !important;
        }
      }
    }

    .logo-wrap {
      display: block;
      width: 150px;
      margin: 0 auto 38px;

      @include sm-max {
        width: 115px;
      }
    }

    .form-group {
      margin: 0 0 22px;
    }

    .btn-bordersecondary {
      display: flex;
      justify-content: center;
      flex: 1;
      width: 100%;
      margin-top: 6px;
    }

    .form-link {
      display: flex;
      justify-content: center;
      align-items: flex-start;

      a {
        color: $black-primary;
        font-size: 14px;
        line-height: 18px;  
        position: relative;
        &:after{
          position: absolute;
          content: "";
          left: 0;
          width:0;
          bottom: 0;
          height: 1px;
          background: $black-primary;
          @include transition(width 0.3s);
        }
        &:hover{
          &:after{
            width: 100%;  
          }
        }
      }
    }

    .form-title-block {
      h1 {
        font-size: 22px;
        line-height: 27px;
        text-align: center;
        color: $black-primary;
      }

      p {
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        color: $black-primary;
        margin: 0 auto 31px;
        letter-spacing: -0.23px;
      }
    }

    .signin-form {
      margin-bottom: 19px;
      display: inline-flex;
      max-width: 100%;
      flex-wrap: wrap;

      .form-control {
        @include sm-max {
          height: 45px;
        }
      }

      .btn {
        @include sm-max {
          min-height: 42px;
        }
      }
    }
  }
}

.signin-footer{
  a{
    position: relative;
        &:after{
          position: absolute;
          content: "";
          left: 0;
          width:0;
          bottom: 0;
          height: 1px;
          background: $black-primary;
          @include transition(width 0.3s);
        }
        &:hover{
          &:after{
            width: 100%;  
          }
        }
  }
}
