/*General-modal*/
.b-modal-target {
  position: relative;
  z-index: 999999;
}

.modal {
  &.lg-popup {
    .modal-dialog {
      @include sm-min {
        max-width: 1180px;
      }
    }
  }
  &.md-popup {
    .modal-dialog {
      @include sm-min {
        max-width: 940px;
      }
    }
  }
  &.sm-popup {
    .modal-dialog {
      @include sm-min {
        max-width: 530px;
      }
    }
  }
  .modal-dialog {
    padding: 15px;
    margin: 0 auto;
    @include xs-max {
      padding: 8px;
    }
    &.modal-dialog-centered {
      min-height: 100%;
    }
  }
  .modal-header {
    position: relative;
    border-bottom: none;
    padding: 24px 30px 0;
    @include sm-max {
      padding: 20px 18px 0;
    }
    .close {
      font-size: 0;
      background: url($assetUrl+"/cross-ic.svg") no-repeat;
      padding: 0;
      margin: 0;
      width: 17px;
      height: 17px;
      background-size: 17px;
      opacity: 1;
      float: none;
      position: absolute;
      right: 30px;
      top: 50%;
      @include transformY(-50%);
      line-height: normal;
      margin-top: 0;

      @include sm-max {
        width: 15px;
        height: 15px;
        background-size: 15px;
        right: 18px;
        margin-top: 10px;
      }
    }
  }

  .modal-title {
    font-size: 22px;
    line-height: 28px;

    @include sm-max {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .modal-content {
    border: none;
    border-radius: 3px;
  }

  .modal-body {
    padding: 26px 30px;
    @include sm-max {
      padding: 18px;
    }
    .btn {
      @include sm-max {
        min-width: 110px;
        min-height: 44px;
      }
    }
  }
  .btn-wrap {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    @include sm-max {
      margin-top: 25px;
    }
    .btn {
      display: inline-block !important;
      margin-right: 15px;
      &:last-child {
        margin-right: 0;
      }
      @include sm-max {
        margin-right: 10px;
      }
    }
  }
}

.btn-cross {
  position: absolute;
  background: transparent !important;
  height: 20px;
  width: 20px;
  border: none !important;

  img {
    height: 16px;
    width: 16px;

    @include sm-max {
      height: 14px;
      width: 14px;
    }
  }
}

/*Skill-modal*/

.skill-modal {
  .modal-header {
      padding-right: 50px;
    .close {
      right: 30px;
      margin-top: 12px;

      @include sm-max {
        right: 23px;
        margin-top: 10px;
      }
    }
  }

  .modal-dialog {
    @include sm-min {
      max-width: 940px;
      padding: 0 15px;
    }
  }
}

/*Story-modal*/
.story-modal {
  .modal-dialog {
    .step-wrap {
      .form-group {
        &:last-child {
          margin-bottom: 0;
        }

        .custom-file {
          height: 120px;
          cursor: pointer;
          outline: none;

          .custom-file-input {
            height: 0;
          }

          .custom-file-label {
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 60px 20px 20px;
            border: 1px dashed $input-border;
            cursor: pointer;
            outline: none;
            box-shadow: none;
            text-align: center;

            &:focus {
              border-color: $gray-primary;
            }

            &::after {
              border: none;
              content: "";
              background: transparent url($assetUrl+"/plus-ic.svg") no-repeat;
              padding: 0;
              background-size: 32px;
              width: 32px;
              height: 32px;
              left: 0;
              margin: 0 auto;
              top: 25px;

              @include sm-max {
                background-size: 25px;
                width: 25px;
                height: 25px;
              }
            }
          }
        }
      }

      .uploaded-block {
        display: flex;
        flex-wrap: wrap;
        flex: 1;
        -ms-flex: 1;
        justify-content: center;
        margin-bottom: -20px;
        margin-top: 20px;

        .img-col {
          height: 100px;
          width: 100px;
          display: inline-block;
          margin-right: 14px;
          line-height: 0;
          position: relative;
          margin-bottom: 14px;

          .uploaded-img {
            height: 100%;
            object-fit: cover;
          }

          .close-ic {
            height: 20px;
            width: 20px;
            background: $rgb-black;
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            right: 0;
            top: 0;
            cursor: pointer;

            img {
              width: 10px;
              height: 10px;
            }
          }
        }
      }

      .second-step {
        display: none;
      }

      &.step-active {
        .second-step {
          display: block !important;
        }

        .first-step {
          display: none !important;
        }

        .btn-submit {
          display: block !important;
        }

        .btn-next {
          display: none !important;
        }
      }

      .btn-submit {
        display: none !important;
      }
    }

    .btn-group {
      display: flex;
      justify-content: space-between;
      padding-top: 30px;
      flex-wrap: wrap;
      @include xxs-max {
        padding-top: 10px;
        justify-content: flex-end;
      }
      .right-btn {
        display: inline-flex;
        @include xxs-max {
          margin-top: 20px;
        }

        .btn {
          margin-left: 15px;
          @include sm-max {
            margin-left: 10px;
          }
          &:first-child {
            margin-left: 0;
          }
        }
      }

      .left-btn {
        @include xxs-max {
          order: 2;
          margin-top: 20px;
          margin-left: 10px;
        }
      }
    }
  }
}

/** send message modal style **/
.send-message-modal {
  .modal-dialog {
    @include sm-min {
      max-width: 1150px;
      padding: 0 15px;
    }
  }
}

/** Contact modal style **/
.contact-modal {
  .modal-dialog {
    @include sm-min {
      max-width: 1150px;
      padding: 0 15px;
    }
  }
}

.mission-row {
  border-bottom: 1px solid $border-color;
  margin-bottom: 30px;

  &:last-of-type {
    border-bottom: none;
  }
}


.date-col {
  @include xs-max {
    margin-bottom: 15px;
  }
}

.modal {
    .close{
        cursor: pointer;
    }
  &.table-modal {
    .modal-header {
      .close {
        margin-top: 0;
      }
    }
    .time-col-left {
      padding-right: 8px;
    }
    .time-col-right {
      padding-left: 8px;
    }
  }
  .custom-dropdown{
    > span{
        padding-top: 9px;
        padding-bottom: 9px;
    }
  }
}


.modal-open{
    header{
        z-index:1039;
    }
}