// Font-variables

@import url("https://fonts.googleapis.com/css?family=Noto+Sans");
$noto-sans: "Noto Sans", sans-serif;

/**Box-shadow style**/
.dropdown_shadow {
  box-shadow: 0 5px 20px 0 rgba(21, 27, 38, 0.08);

  -webkit-box-shadow: 0 5px 20px 0 rgba(21, 27, 38, 0.08);
  -moz-box-shadow: 0 5px 20px 0 rgba(21, 27, 38, 0.08);
  -ms-box-shadow: 0 5px 20px 0 rgba(21, 27, 38, 0.08);
  -o-box-shadow: 0 5px 20px 0 rgba(21, 27, 38, 0.08);
}

.card_shadow {
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);

  -webkit-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
  -o-box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
}
.control_shadow {
  box-shadow: 0.966px 0.259px 3px rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0.966px 0.259px 3px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0.966px 0.259px 3px rgba(0, 0, 0, 0.05);
  -ms-box-shadow: 0.966px 0.259px 3px rgba(0, 0, 0, 0.05);
  -o-zbox-shadow: 0.966px 0.259px 3px rgba(0, 0, 0, 0.05);
}
