/vendor
/.idea
Homestead.json
Homestead.yaml
.env

/vendor
/public/storage
/.env
/public/uploads
composer.lock
/node_modules
/storage/reports
npm-debug.log


storage/*
!storage/app


storage/app/*
!storage/app/default_theme