<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="bootstrap/app.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Intial Data">
            <directory suffix="SeederTest.php">./tests</directory>
        </testsuite>
        <testsuite name="Application Test Suite">
            <directory suffix="Test.php">./tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="APP_ENV" value="testing"/>
        <env name="CACHE_DRIVER" value="array"/>
        <env name="QUEUE_CONNECTION" value="sync"/>
        <env name="TENANT_DB_DATABASE" value="ci_tenant_81"/>
        <env name="DEFAULT_TENANT" value="phpunittest"/>
        <env name="API_KEY" value="itVL9KD8GwnXcajx"/>
        <env name="API_SECRET" value="MveLESMi4oZcNFfF"/>
        <env name="DEFAULT_TENANT_ID" value="81"/>
        <env name="HTTP_REFERER" value="http://web8.anasource.com/team4/ciplatform/"/>
    </php>
</phpunit>
