// Color variables
$primary: #f88634;

$black: #000;
$white: #fff;

$black-primary: #414141;

$gray-primary:#757575;


$border-color: #e8e8e8;

// rgba color variable
$rgb-black: rgba(0, 0, 0, 0.6);
$error: #dc3545;

$gray-bg: $border-color;