/*General-modal*/
.b-modal-target {
  position: relative;
  z-index: 999999;
}

.modal {
  &.lg-popup {
    .modal-dialog {
      @include sm-min {
        max-width: 1180px;
      }
    }
  }

  &.md-popup {
    .modal-dialog {
      @include sm-min {
        max-width: 940px;
      }
    }
  }

  &.sm-popup {
    .modal-dialog {
      @include sm-min {
        max-width: 530px;
      }
    }
  }

  .modal-dialog {
    padding: 15px;
    margin: 0 auto;

    @include xs-max {
      padding: 8px;
    }

    &.modal-dialog-centered {
      min-height: 100%;
    }
  }

  .modal-header {
    position: relative;
    border-bottom: none;
    padding: 24px 60px 0 30px;
    justify-content: flex-start;

    @include sm-max {
      padding: 20px 60px 0 18px;
    }

    .close {
      font-size: 0;
      background: url($assetUrl+"/cross-ic.svg") no-repeat;
      padding: 0;
      margin: 0;
      width: 30px;
      height: 30px;
      background-position: center center;
      background-size: 17px;
      opacity: 1;
      float: none;
      position: absolute;
      right: 24px;
      top: 50%;
      @include transformY(-50%);
      line-height: normal;
      margin-top: 12px;

      @include sm-max {
        width: 15px;
        height: 15px;
        background-size: 15px;
        right: 18px;
        margin-top: 10px;
      }
    }
  }

  .modal-title {
    font-size: 22px;
    line-height: 28px;

    @include sm-max {
      font-size: 20px;
      line-height: 26px;
    }
  }

  .modal-content {
    border: none;
    border-radius: 3px;
  }

  .modal-body {
    padding: 26px 30px;

    @include sm-max {
      padding: 18px;
    }

    .btn {
      @include sm-max {
        min-width: 110px;
        min-height: 44px;
      }
    }
  }

  .btn-wrap {
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;

    @include sm-max {
      margin-top: 25px;
    }

    .btn {
      display: inline-block !important;
      margin-right: 15px;

      &:last-child {
        margin-right: 0;
      }

      @include sm-max {
        margin-right: 10px;
      }
    }
  }
}

.btn-cross {
  position: absolute;
  background: transparent !important;
  height: 20px;
  width: 20px;
  border: none !important;

  img {
    height: 16px;
    width: 16px;

    @include sm-max {
      height: 14px;
      width: 14px;
    }
  }
}

/*Skill-modal*/

.skill-modal {
  .modal-header {
    .close {
      @include sm-max {
        right: 23px;
        margin-top: 10px;
      }
    }
  }

  .modal-dialog {
    @include sm-min {
      max-width: 940px;
      padding: 0 15px;
    }
  }
}

/*Settings-modal*/

.settings-modal {
  .modal-dialog {
    @include sm-min {
      max-width: 830px;
    }
    .title-with-border {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 19px;
      span {
        padding-bottom: 9px;
        &:after {
          width: 211px;
          @include sm-max {
            width: 100px;
          }
        }
      }
    }
    .checkbox-group-wrap {
      padding-bottom: 22px;
      margin-bottom: 25px;
      border-bottom: 1px solid $primary-border-color;
      .site-checkbox {
        margin-bottom: 7px;
        .custom-checkbox {
          line-height: 0;
        }
      }
    }
    .preference-block {
      label {
        font-weight: 300;
        margin-bottom: 5px;
      }
      .dropdown {
        max-width: 400px;
        width: 100%;
      }
    }
    .form-wrap {
      > .btn-row {
        display: flex;
        justify-content: flex-end;
        margin-top: 70px;
        align-items: flex-start;
        @include sm-max {
          margin-top: 40px;
        }
        .btn {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
        .cancel-btn {
          min-width: 119px;
        }
        .save-btn {
          min-width: 108px;
          margin: 0;
        }
      }
    }
  }
}

/*
*/

.payment-modal {
  .modal-dialog {
    @include sm-min {
      max-width: 950px;
    }
    .title-with-border {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 25px;
      span {
        padding-bottom: 9px;
        &:after {
          width: 230px;
          @include sm-max {
            width: 100%;
          }
        }
      }
    }
    .form-wrap {
      label {
        margin-bottom: 4px;
      }
      .info-icon {
        cursor: pointer;
        span {
          color: $primary;
        }
        .cvv-tooltip {
          background: transparent;
          border: none;
          padding: 0;
          color: $black-primary;
          display: inline-block !important;
          margin: 0;
          font-size: 15px;
          min-width: auto;
          color: $primary;
        }
      }
      .form-group {
        margin-bottom: 24px;
        &.has-img {
          position: relative;
          input.form-control {
            padding-left: 64px;
          }
          .card-img {
            position: absolute;
            left: 0.75rem;
            top: 40px;
            width: 38px;
            line-height: 0;
            img {
              max-width: 100%;
              height: auto;
            }
          }
        }
      }
      > .btn-row {
        display: flex;
        justify-content: flex-end;
        margin-top: 8px;
        align-items: flex-start;
        .btn {
          margin-right: 10px;
          &:last-child {
            margin-right: 0;
          }
        }
        .cancel-btn {
          min-width: 119px;
        }
        .save-btn {
          min-width: 108px;
          margin: 0;
        }
      }
    }
  }
}

/** send message modal style **/
.send-message-modal {
  .modal-dialog {
    @include sm-min {
      //   max-width: 1150px;
      padding: 0 15px;
    }

    .form-group {
      &.d-flex {
        > div {
          display: flex;
          margin-bottom: 8px;

          > label {
            margin: 0 10px 0 0;
            min-width: 50px;
          }

          > p {
            margin: 0;
            word-break: break-all;
          }
        }
      }
    }
  }
}

/** Contact modal style **/
.contact-modal {
  .modal-dialog {
    @include sm-min {
      max-width: 1150px;
      padding: 0 15px;
    }
  }
}

.mission-row {
  border-bottom: 1px solid $primary-border-color;
  margin-bottom: 30px;

  &:last-of-type {
    border-bottom: none;
  }
}

.date-col {
  @include xs-max {
    margin-bottom: 15px;
  }
}

.modal {
  .close {
    cursor: pointer;
  }

  &.table-modal {
    .modal-header {
      .close {
        margin-top: 0;
      }
    }

    .time-col-left {
      padding-right: 8px;
    }

    .time-col-right {
      padding-left: 8px;
    }
  }

  .custom-dropdown {
    > span {
      padding-top: 9px;
      padding-bottom: 9px;
    }
  }
}

.modal-open {
  header {
    z-index: 1039;
  }
}

body {
  &.browser-ios {
    &.modal-open {
      position: fixed;
      content: "";
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      width: 100vw;
      height: 100vh;
      background: transparent;
      z-index: 1039;
    }
  }
}

.userdetail-modal {
  .modal-dialog {
    padding-top: 50px;
    max-width: 960px;
  }
}

.badge {
  &.status-label {
    background: transparent;
    color: $black-primary;
    border: 1px solid $primary-border-color;
    border-radius: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 100%;
    overflow: hidden;
    position: relative;
    display: inline-block;
    padding: 5px 18px;
    vertical-align: middle;
    font-size: 15px;
    font-weight: 400;
  }
}

.modal-border-radius {
  .modal-content {
    border-radius: 10px;
    border: 1px solid $primary-border-color;
  }
}
.donation-modal {
  &.faild-popup {
    .modal-dialog {
      .modal-body {
        .top-icon {
          width: 70px;
          @include sm-max {
            width: 55px;
          }
        }
      }
    }
  }
  .modal-dialog {
    max-width: 654px;
    .modal-header {
      padding-top: 45px;
      .close {
        background: url($assetUrl + "/popup-cancel.svg");
        height: 16px;
        width: 16px;
        right: 28px;
        margin-top: 15px;
      }
    }
    .modal-body {
      text-align: center;
      max-width: 460px;
      margin: 0 auto;
      padding-bottom: 50px;
      width: 100%;
      @include sm-max {
        padding-bottom: 30px;
      }
      .top-icon {
        width: 64px;
        height: 64px;
        margin-bottom: 8px;
        @include sm-max {
          width: 45px;
          height: 45px;
        }
        img {
          width: 100%;
          height: 100%;
        }
      }
      h3 {
        font-size: 38px;
        line-height: 42px;
        font-weight: 600;
        color: #db0303;
        margin-bottom: 18px;
        &.green-text {
          color: #15cb28;
        }
        @include md-max {
          font-size: 30px;
          line-height: 36px;
        }
        @include sm-max {
          font-size: 25px;
          line-height: 34px;
        }
      }
      p {
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 26px;
        @include sm-max {
          font-size: 18px;
          line-height: 26px;
          margin-bottom: 18px;
        }
        em {
          font-weight: 600;
        }
        span {
          display: block;
        }
        .quote-text {
          font-weight: 600;
          max-width: 245px;
          margin: 0 auto;
          letter-spacing: 0.39px;
        }
      }
      .btn-wrap {
        display: block;
        .btn {
          min-width: 317px;
          margin: 0 0 18px;
          font-size: 26px;
          font-weight: 600;
          min-height: 41px;
          line-height: 32px;
          @include sm-max{
            min-width: 200px;
            font-size: 20px;
            min-height: 36px;
            line-height: 30px;
          }
           &.btn-fillsecondary{
            padding: 5px 22px 9px;
          }
          &.btn-borderprimary{
          border-color: $gray-secondary;
          color: $middle-gray;
          font-size: 17px;
          font-weight: 400;
          min-height: 40px;
          line-height: 24px;
          min-width: 146px;
          }
        }
      }
      .social-block {
        display: block;
        margin-bottom: 50px;
        @include sm-max {
          margin-bottom: 35px;
        }
        label {
          font-size: 20px;
          line-height: 36px;
          margin-bottom: 1px;
          @include sm-max {
            font-size: 18px;
            line-height: 26px;
          }
        }
        .social-list {
          display: flex;
          justify-content: center;
        }
        .social-item {
          display: inline-block;
          width: 50px;
          height: 50px;
          overflow: hidden;
          border-radius: 100%;
          margin: 0 8px;
          @include sm-max {
            width: 40px;
            height: 40px;
            margin: 0 5px;
          }
          img {
            height: 100%;
            width: 100%;
          }
          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
    .modal-footer {
      background: #e1e1e1;
      padding: 5px 20px;
      text-align: center;
      display: block;
      p {
        margin: 0;
        font-size: 14px;
        line-height: 20px;
        a {
          position: relative;
          font-weight: 600;
          &:hover {
            color: $primary;
            &:after {
              background: $primary;
            }
          }
          &:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: $black-primary;
            height: 1px;
            width: 100%;
            @include transition(all 0.3s);
          }
        }
      }
    }
  }
}
